# bootchecker rc file, 
# SA part, System team.

service bootchecker /system/bin/bootchecker
    class late_start
    user system
    group system log
    oneshot

on property:init.svc.zygote=restarting
    write /dev/freezer/olaf/freezer.state THAWED
    restart bootchecker

on property:init.svc.zygote=stopping
    write /dev/freezer/olaf/freezer.state THAWED